### Ejercicio: 
### Observar datos.

El dataset (en formato csv) sobre personas que hicieron el examen del BAR en California en los años 90s (1991-1997) respeta los minímos de 10.000 filas y 10 columnas. 
En este dataset hay 22407 y 39 columnas. No todas no serviran, pero solo buscaremos más si fuera necesario. De lo contrario, habrá trabajo extra intentando juntar ambas en un solo dataframe.

In [1]:
import pandas as pd

In [2]:
dataframe=pd.read_csv('../data/raw/bar_pass_prediction.csv')

In [4]:
dataframe.columns

Index(['decile1b', 'decile3', 'ID', 'decile1', 'sex', 'race', 'cluster',
       'lsat', 'ugpa', 'zfygpa', 'DOB_yr', 'grad', 'zgpa', 'bar1', 'bar1_yr',
       'bar2', 'bar2_yr', 'fulltime', 'fam_inc', 'age', 'gender', 'parttime',
       'male', 'race1', 'race2', 'Dropout', 'other', 'asian', 'black', 'hisp',
       'pass_bar', 'bar', 'bar_passed', 'tier', 'index6040', 'indxgrp',
       'indxgrp2', 'dnn_bar_pass_prediction', 'gpa'],
      dtype='object')

In [30]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22407 entries, 0 to 22406
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   decile1b                 20803 non-null  float64
 1   decile3                  20803 non-null  float64
 2   ID                       22407 non-null  int64
 3   decile1                  21315 non-null  float64
 4   sex                      22402 non-null  float64
 5   race                     22391 non-null  float64
 6   cluster                  22311 non-null  float64
 7   lsat                     22407 non-null  float64
 8   ugpa                     22407 non-null  float64
 9   zfygpa                   21423 non-null  float64
 10  DOB_yr                   22357 non-null  float64
 11  grad                     22404 non-null  object
 12  zgpa                     21118 non-null  float64
 13  bar1                     22407 non-null  object
 14  bar1_yr                  22368 non-null  float64
 15  bar2                     22407 non-null  object
 16  bar2_yr                  22367 non-null  float64
 17  fulltime                 22373 non-null  float64
 18  fam_inc                  22118 non-null  float64
 19  age                      22318 non-null  float64
 20  gender                   22402 non-null  object
 21  parttime                 22373 non-null  float64
 22  male                     22402 non-null  float64
 23  race1                    22391 non-null  object
 24  race2                    22391 non-null  object
 25  Dropout                  22407 non-null  object
 26  other                    22407 non-null  int64
 27  asian                    22407 non-null  int64
 28  black                    22407 non-null  int64
 29  hisp                     22407 non-null  int64
 30  pass_bar                 22407 non-null  int64
 31  bar                      22407 non-null  object
 32  bar_passed               22407 non-null  bool
 33  tier                     22311 non-null  float64
 34  index6040                22407 non-null  float64
 35  indxgrp                  22407 non-null  object
 36  indxgrp2                 22407 non-null  object
 37  dnn_bar_pass_prediction  22407 non-null  float64
 38  gpa                      22407 non-null  float64
dtypes: bool(1), float64(22), int64(6), object(10)
memory usage: 6.5+ MB

In [34]:
dataframe.isna().sum()

decile1b                   1604
decile3                    1604
ID                            0
decile1                    1092
sex                           5
race                         16
cluster                      96
lsat                          0
ugpa                          0
zfygpa                      984
DOB_yr                       50
grad                          3
zgpa                       1289
bar1                          0
bar1_yr                      39
bar2                          0
bar2_yr                      40
fulltime                     34
fam_inc                     289
age                          89
gender                        5
parttime                     34
male                          5
race1                        16
race2                        16
Dropout                       0
other                         0
asian                         0
black                         0
hisp                          0
pass_bar                      0
bar                           0
bar_passed                    0
tier                         96
index6040                     0
indxgrp                       0
indxgrp2                      0
dnn_bar_pass_prediction       0
gpa                           0
dtype: int64

In [6]:
dataframe["grad"].value_counts()

grad
Y    22315
X       88
O        1
Name: count, dtype: int64